@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: var(--bgcolor);
  }
:root{
  --bgcolor : #20242D;
  --maincolor:#01EEFE;
}
.navbar{
  height: 60px;
  width: 100%;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px; 
}
.navbar i{
  color: var(--bgcolor);
  float: left;
}
.menu{
  display: flex;
  list-style: none;
}
.menu li a{
  padding: 20px;
  color:white;
  font-size: 18px;
  text-decoration: none;
}
.logo{
  color:var(--maincolor);
  font-size: 20px;
  cursor: pointer;
  padding-right: 27%;
  text-decoration: none;
}
.menu li a:hover{
  color: var(--maincolor);
  text-decoration-line:underline;
}
.contaner{
    height: 600px;
    width: 85%;
    margin-top:45px;
    margin-left: 7%;
    text-align: center;
  }
  .contaner h1{
    font-size: 45px;
    text-decoration: underline;
    color: var(--maincolor);
  }
  .project{
    height: 500px;
    width: 100%;
    justify-items: center;
    display: grid;
    margin-top: 30px;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  .box{
    height: 180px;
    width: 300px;
    align-content: center;
    background-color: #232833;
    box-shadow: 2px 2px 0px 0px #323846;
  }
  .project img{
    height: 180px;
    width: 300px;

  }
  .project h3{
    color: var(--maincolor);
    cursor: pointer;
    text-decoration: underline;
  }
  .box:hover{
    transform: translateY(-.2rem);
    box-shadow: 1px 1px 6px 5px var(--maincolor);
  }
  @media screen and (min-width:320px) and (max-width:745px) {
    .menu li a{
      display: none;
    }
    .logo{
      align-items: center;
    }
    .navbar i{
      color: white;
    }
    .contaner h1{
      width: 100%;  
      text-align: center;
    }
    .project{
      grid-template-rows: repeat(6,1fr);
      grid-template-columns: repeat(1,1fr);
    }
    .box{
      height: 150px;
      width: 270px;
    }
    .project img{
      height: 150px;
      width: 270px;
    }
  } 
  @media screen and (max-width:768px) {
    .menu li a{
      display: none;
    }
    .logo{
      align-items: center;
    }
    .navbar i{
      color: white;
    }
    .contaner h1{
      width: 100%;  
      text-align: center;
    }
    .project{
      grid-template-rows: repeat(3,1fr);
      grid-template-columns: repeat(2,1fr);
    }
  }